body {
  height: 200vh;
}
.big-box {
  position: relative;
  margin: 100px auto 0;
  border: 5px solid black;
  width: 600px;
  height: 600px;
  position: relative;
}

.small-box {
  width: 100px;
  height: 100px;
}

#red {
  background-color: red;
}

#gold {
  background-color: gold;
  position: relative;
  left: 100px;
}

#green {
  background-color: green;
  position: absolute;
  left: 200px;
}

#blue {
  background-color: blue;
  position: absolute;
  top: 0px;
  left: 200px;
}

#pink {
  background-color: pink;
}

#violet {
  background-color: blueviolet;
  position: fixed;
  top: 100px;
  left: 0px;
}
